
h2 {
  font-family: "Pokemon-solid", sans-serif;
  font-weight: 600;
  font-style: normal;

  font-size: calc(2* var(--font-size-computer-display1));

  align-self: center;
  justify-self: center;
  margin-bottom: 25px;
}

img {
  width: 350px;
  height: auto;
  margin: 10px;

}

.home{
    width: 100%;
    height: 100%;
}

.home-buttons-panel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 100%;
    height: calc(100% - 84px - 75px);
    gap: 25px;
}

.home-buttons-panel p{
      align-self: center;
      justify-self: center;
      color: black;
}

.home-button{
    border: 3px solid var(--color-brand-200);
    border-radius: 100%;
    padding: 10px;
}

.home-button:hover{
    border: 4px solid var(--color-brand-300);
    cursor: pointer;
    background-color: var(--color-brand-100);
}

#imagen-home-dreamTeam{
  border-radius: 100%;
}